.home > .container > .row {
    position: relative;
}

.sidebar{
 width: 220px;
 height: 100vh;
 background-color: $primary;
 text-align: left;
 display: none;
 position: absolute;
 z-index: 100;
 
  
 .logo {
    font-size: 3.5rem;
    text-decoration: none;
    font-family: Montserrat, 'Times New Roman', Times, serif;
    background: $secondary;
    padding: 20px;
    padding: 25px 72px;
    line-height: 2;
    color: $white;
  }

    .nav{
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 50px;
            font-family: Montserrat, 'Times New Roman', Times, serif;
            li {
                padding: 20px;

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                }
            }
        }

        ul li:hover {
            background-color: $secondary;
            cursor: pointer;
        }
        

    }
}

@keyframes slideout {
    from {  
        transform: translateX(0%);
        transition-timing-function: ease-in;
     }
    to   { 
         transform: translateX(-100%);
         transition-timing-function: ease-in;
     }
}

@keyframes slideRight {
    from {  
        transform: translateX(-100%);
        transition-timing-function: ease-in;
     }
    to   { 
         transform: translateX(0%);
         transition-timing-function: ease-in;
     }
}

@keyframes bounce {
    0% {
transform:  translate(0px, 0px);
}

30%{
transform: translate(0px, 10px); 
}

75%{
transform: translate(0px, -25px); 
}

100% {
transform: translate(0px, 0px);
}
}

@media screen and (min-width: 950px) {
    .home .row .sidebar {
        width: 165px;
        .logo {
            padding: 0px 25px;
        }
        .nav ul li a {
            font-size: 18px
        }
    }
}

@media screen and (min-width: 800px) {
    .sidebar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: slideRight 1s;    
        position: unset;
        width: 145px;

        .logo {
            padding: 0px 20px;
        }

        .nav ul li a {
            font-size: 14px
        }
    }

    .menu-cont  {
        display: none;
    }
}